rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /subscribers/{token} {
      allow read, write: if true;
    }
    match /shares/{docId} {
      allow read: if true;
      allow create: if true;
    }
    match /unlocks/{docId} {
      allow read: if true;
      allow create: if true;
    }
  }
}
