rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /subscribers/{token} {
      allow create: if true;
      allow read, update, delete: if false;
    }  allow create: if true; // public write for subscription
      allow update: if false; // prevents tampering
      allow delete: if false; // prevents tampering
    }
  }
}
